{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ topic|title }}</li>
        </ol>
    </nav>
{% endblock page_header %}


{% block content %}

    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add New Entry</a>
    </p>

        {% for entry in entries %}
            <div class="card mb-3">
                <h4 class="card-header">
                    <span class="row">
                        <span class="col">
                            {{ entry.date_added|date:'M d, Y H:i' }}
                        </span>
                        <span class="col text-right">
                            <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
                                Edit Entry</a></small>
                        </span>
                    </span>
                </h4>
                <div class="card-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div>
        {% empty %}
            <p>No entries for this topic have been added yet.</p>
        {% endfor %}

{% endblock content %}