{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1 class="display-4">Topics</h1>
{% endblock page_header %}

{% block content %}
    <br>
    <ul class="list-group list-group-flush">
        {% for topic in topics %}
            <li class="list-group-item"><h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
            <li class="list-group-item"><h3>Sorry, no topics have been added yet.</h3></li>
        {% endfor %}
    </ul>
    <br>
    <p>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
    </p>

{% endblock content %}
